:root {
	/*
	The modular scale depends on a single number.
	It's presence can be felt throughout the visual design.
	Some use a specific ratio, such as the golden ratio, but the strict adherence to whichever ratio you choose is more important.
	https://every-layout.dev/rudiments/modular-scale/
	*/

	/*  https://css-tricks.com/simplified-fluid-typography/ */
	--ratio2: calc(var(--ratio) * var(--ratio));
	--ratio3: calc(var(--ratio2) * var(--ratio));
	--ratio4: calc(var(--ratio3) * var(--ratio));
	--size5: calc(var(--size4) * var(--ratio));
	--size4: calc(var(--size3) * var(--ratio));
	--size3: calc(var(--size2) * var(--ratio));
	--size2: calc(var(--size1) * var(--ratio));
	--size1: calc(var(--size0) * var(--ratio));
	--size0: clamp(var(--base-unit-min), 2vw, var(--base-unit-max));
	--size-1: calc(var(--size0) / var(--ratio));
	--size-2: calc(var(--size-1) / var(--ratio));
	--size-3: calc(var(--size-2) / var(--ratio));
	--size-4: calc(var(--size-3) / var(--ratio));
	--size-5: calc(var(--size-4) / var(--ratio));
}
