@import url('http://fonts.cdnfonts.com/css/inter');
@import url('http://fonts.cdnfonts.com/css/playfair-display');
@import url('http://fonts.cdnfonts.com/css/caveat');
@import url('http://fonts.cdnfonts.com/css/hi-melody');
@import url('http://fonts.cdnfonts.com/css/nanum-pen');
@import url('http://fonts.cdnfonts.com/css/gochi-hand');

:root {
	--font-family-sans-serif: inter, sans-serif;
}

html {
	height: 100vh;
	font-family: Inter, sans-serif;
	font-size: 16px;
	color: var(--black);
	background-color: var(--white);
}

.handwriting-1 {
	font-family: 'Caveat', sans-serif;
	font-size: calc(1.4 * var(--font-size-regular));
	font-weight: bold;
}

.handwriting-2 {
	font-family: 'Hi Melody', sans-serif;
	font-size: calc(1.6 * var(--font-size-regular));
}

.handwriting-3 {
	font-family: 'Nanum Pen', sans-serif;
	font-size: calc(1.6 * var(--font-size-regular));
	letter-spacing: -0.05em;
}

.handwriting-4 {
	font-family: 'Gochi Hand', sans-serif;
	font-size: calc(1.6 * var(--font-size-regular));
}

.handwriting-5 {
	font-family: 'Nanum Pen', sans-serif;
	font-size: calc(1.6 * var(--font-size-regular));
}
